<!DOCTYPE html>
<html>
    <head>
        <title>Reward Your Charity</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="main"></div>
        <form id='master-form'>
            <pre style="width: 600px; white-space: pre-wrap;" rows='20' id='form-content-input'></pre>
        </form>

        <script>
            window.addEventListener('load', () => {
                const element = React.createElement(FormMain);
                ReactDOM.render(element, document.getElementById('main'));
            });
        </script>
    </body>
</html>
